body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://images.vexels.com/media/users/3/185145/isolated/preview/68b3d35ff9797cbd08182f070b8d8804-iacute-cone-de-criatura-yeti-by-vexels.png');
    background-color: #000000;
    background-size: 43vh;
    background-position: center left;
    background-repeat: no-repeat;
  }

.dolar-input {
  color: #ffffff;
  padding: 200px 0px 0px 0px;
  right: 50px;
    
}

.to-real {
  color: white;
  padding: 10px;
}

.real-output {
  color: white;
  padding: 10px;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}
  
.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}